:root {
	--anchor-hover-color: #d00;
}

:focus {
	outline: 1px solid #4d90fe;
}

:any-link:hover {
	&:hover {
		color: var(--anchor-hover-color);
	}
}

body {
	box-sizing: border-box;
	margin: auto;
	padding: 0 2vi;
	inline-size: min(100vi, 1280px);

	& > footer {
		margin-block-start: 3em;
		border-block-start: 1px solid;
	}
}

main {
	& > :is(section, nav) {
		margin-block-start: 4em;
	}

	& > section > section + section {
		margin-block-start: 3em;
	}
}

table {
	border-collapse: collapse;
}

:is(th, td) {
	border: 1px solid;
	padding: 0.25em 0.5em;
}

thead {
	& th {
		text-align: center;
	}
}

code {
	tab-size: 4;
}

.list {
	padding-inline-start: 1em;

	& > li + li {
		margin-block-start: 1em;
	}

	& :is(p, ul, table) {
		margin-block: 0.5em;
	}
}

.link {
	& a {
		--bullet-size: 0.75em;
		--bullet-color: #0bb;

		outline-offset: 0.1em;

		&::before {
			display: inline flow-root;
			margin-inline-end: 0.5em;
			background: var(--bullet-color);
			block-size: var(--bullet-size);
			inline-size: calc(var(--bullet-size) * 0.6);
			content: "";
			clip-path: polygon(0 0, 0 100%, 100% 50%);
		}

		&:hover::before {
			--bullet-color: var(--anchor-hover-color);
		}
	}
}

.backlink {
	& a {
		outline-offset: 0.1em;

		&::before {
			display: inline flow-root;
			margin-inline-end: 0.5em;
			content: "👈";
		}
	}
}

.sample-spec {
	display: block table;
	border-collapse: collapse;

	& > div {
		display: table-row;
	}

	& :is(dt, dd) {
		display: table-cell;
		border: 1px solid;
		padding: 0.25em 0.5em;
	}

	& dt {
		padding-inline-end: 1em;
		font-weight: 700;
	}
}
