:root {
	--anchor-hover-color: #d00;
}

:focus {
	outline: 1px solid #4d90fe;
}

:any-link:hover {
	color: var(--anchor-hover-color);
}

body {
	margin: auto;
	padding: 0 2vw;
	box-sizing: border-box;
	inline-size: min(100vw, 1280px);
}

body > footer {
	margin-block-start: 3em;
	border-block-start: 1px solid;
}

main > :is(section, nav) {
	margin-block-start: 4em;
}

main > section > section + section {
	margin-block-start: 3em;
}

table {
	border-collapse: collapse;
}

:is(th, td) {
	padding: 0.25em 0.5em;
	border: 1px solid;
}

thead th {
	text-align: center;
}

code {
	tab-size: 4;
}

.link a {
	--bullet-size: 0.75em;
	--bullet-color: #0bb;

	outline-offset: 0.1em;
}

.link a::before {
	margin-inline-end: 0.5em;
	content: "";
	display: inline-block;
	clip-path: polygon(0 0, 0 100%, 100% 50%);
	inline-size: calc(var(--bullet-size) * 0.6);
	block-size: var(--bullet-size);
	background: var(--bullet-color);
}

.link a:hover::before {
	--bullet-color: var(--anchor-hover-color);
}

.backlink a {
	outline-offset: 0.1em;
}

.backlink a::before {
	margin-inline-end: 0.5em;
	content: "👈";
	display: inline-block;
}

.details {
	margin-block-start: 2em;
	padding-inline-start: 1em;
}

.details :is(p, ul, table) {
	margin-block: 0.5em;
}

.details > li > ul {
	padding-inline-start: 1em;
}

.details > li + li {
	margin-block-start: 1em;
}

.sample-spec {
	display: table;
	border-collapse: collapse;
}

.sample-spec > div {
	display: table-row;
}

.sample-spec :is(dt, dd) {
	padding: 0.25em 0.5em;
	border: 1px solid;
	display: table-cell;
}

.sample-spec dt {
	padding-inline-end: 1em;
	font-weight: bold;
}
